<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header *ngIf="creationMode">
                CREAR INSCRIPCION
            </nb-card-header> 
            <nb-card-header *ngIf="!creationMode">
                ACTUALIZAR INSCRIPCION
            </nb-card-header>           
            <nb-card-body>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Estudiante</label>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-control" [(ngModel)]="enrollment.student._id" fullWidth>
                            <option *ngFor="let student of students" [value]="student._id">{{student.name}} {{student.lastname}}</option>
                        </select>
                        <p *ngIf="sendingAttemp && enrollment.student==-1">Requerido</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Curso</label>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-control" [(ngModel)]="enrollment.course._id" fullWidth>
                            <option *ngFor="let course of courses" [value]="course._id">{{course.name}}</option>
                        </select>
                        <p *ngIf="sendingAttemp && enrollment.course==-1">Requerido</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Anio</label>
                    </div>
                    <div class="col-lg-9">
                        <select class="form-control" [(ngModel)]="enrollment.year" fullWidth>
                            <option *ngFor="let year of years" [value]="year">{{year}}</option>
                        </select>
                        <p *ngIf="sendingAttemp && enrollment.year==null">Requerido</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Semestre</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="number" class="form-control" 
                               [(ngModel)]="enrollment.semester" fullWidth />
                        <p *ngIf="sendingAttemp && enrollment.semester==null">Requerido</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Nota Final</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="number" class='form-control'
                               [(ngModel)]="enrollment.grade" fullWidth />
                        <p *ngIf="sendingAttemp && enrollment.grade==null">Requerido</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <button *ngIf="creationMode" class="btn btn-primary btn-block" (click)="create()">
                        Crear
                    </button>
                    <button *ngIf="!creationMode" class="btn btn-primary btn-block" (click)="edit()">
                        Actualizar
                    </button>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>